<span>{{name}}</span>
<ul class="structure list-unstyled">
	{{#each structure.directories}}
	<li>
		<img src="/assets/images/icon-directory.svg" class="icon directory" />
		{{> directoryPartial structure=this}}
	</li>
	{{/each}}
</ul>
<ul class="structure list-unstyled">
	{{#each structure.files}}
	<li>
		<img src="/assets/images/icon-file.svg" class="icon file" />
		{{name}}
		<i class="file-info">{{round size 2}} KiB</i>
		<i class="file-info">◴ {{moment changed "YY/MM/D hh:mm"}}</i>
	</li>
	{{/each}}
</ul>