<p class="lead">
	Upload your project to analyse it and get metrics. Choose the profile that matches your project.
	Choose a specific profile like "Module X, atestation 2" for atestation specific checks
	or a general profile like "Web project" to check your code in general and get metrics.
</p>

<form method="post" action="/upload" enctype="multipart/form-data">
	<div class="form-group">
		<label for="user">Name *</label>
		<input class="form-control" type="text" name="user" id="user" required />
	</div>
	<div class="form-group">
		<label for="email">Email address *</label>
		<input class="form-control" type="email" name="email" id="email" required />
		<p class="help-block">Your email address will only be used to show it on the report and will not be stored or shared.</p>
	</div>
	<div class="form-group">
		<label for="archive">Project *</label>
		<input type="file" id="archive" name="archive" accept="application/zip" required>
		<p class="help-block">Your project as archive (zip). Example:
			<pre><!--
-->project.zip
└─┬ Module-Project-XY
  ├── index.html
  ├─┬ styles
  │ ├── app.css
  │ └── buttons.css
  └─┬ scripts
    ├── app.js
    └── main.js<!--
			--></pre>
		</p>
	</div>
	<div class="form-group">
		<label for="profile">Profile *</label>
		<select class="form-control" id="profile" name="profile">
			{{#each profiles as |profile profileId|}}
			<option value="{{profileId}}" data-description="{{profile.description}}">{{profile.name}}</option>
			{{/each}}
		</select>
		<p class="help-block" id="profile-help"></p>
	</div>

	<button type="submit" class="btn btn-default">Submit</button>
</form>