<form method="post" action="/upload" enctype="multipart/form-data">
	<div class="form-group">
		<label for="archive">Project</label>
		<input type="file" id="archive" name="archive" accept="application/zip" required>
		<p class="help-block">Your project as archive (zip). Example:
			<pre><!--
-->project.zip
├── index.html
├─┬ styles
│ ├── app.css
│ └── buttons.css
└─┬ scripts
  ├── app.js
  └── main.js<!--
			--></pre>
		</p>
	</div>

	<button type="submit" class="btn btn-default">Submit</button>
</form>