<section>
	<header>
		<button id="print" class="btn btn-default">
			<img class="icon large"  src="./assets/images/icon-printer.svg" alt="print" />
		</button>
		<h2>Upload</h2>
	</header>
	<ul>
		<li><strong>Checked at</strong> <time datetime="{{moment date "YY/MM/D hh:mm"}}">{{moment date "YY/MM/D hh:mm"}}</time></li>
		<li><strong>Checked for</strong> "{{user.name}}" ({{user.email}})</li>
		<li><strong>Checked archive</strong> {{name}} ({{size}})</li>
		<li><strong>Check profile</strong> &quot;{{profile.name}}&quot;</li>
	</ul>
</section>

{{#each reports}}
	<section>
		<header>
			<h2>{{name}}</h2>
		</header>
		{{{report}}}
	</section>
{{/each}}