{{#each reports as |fileReports fileName|}}
<h3>{{fileName}}</h3>
<ul class="list-unstyled">
	{{#each fileReports}}
		<li>
			{{#if error.type}}
			<span class="label {{error.type}}">{{error.type}}</span>
			{{/if}}
			<strong>{{rule.name}}</strong>: {{{error.message}}}
			{{#compare rule.snippet.patterns.length '<=' 1}}➜ Found {{occurrence}}{{/compare}}.
			Expected {{#if rule.snippet.min}}{{rule.snippet.min}} &lt; {{/if}}X{{#if rule.snippet.max}} &lt; {{rule.snippet.max}}{{/if}}.
		</li>
	{{/each}}
</ul>
{{/each}}
