{{#each reports as |fileReports fileName|}}
<h3>{{fileName}}</h3>
<ul class="list-unstyled">
	{{#each fileReports}}
		<li>
			{{#if error.type}}
			<span class="label {{error.type}}">{{error.type}}</span>
			{{/if}}
			<strong>{{rule.name}}</strong>: {{{error.message}}}
			<ul class="list-unstyled">
				<li>&nbsp;➜
					{{#compare rule.snippet.patterns.length '<=' 1}}
						<strong>Found</strong> {{occurrence}},
					{{/compare}}
					<strong>Expected</strong>
					{{#compare rule.snippet.min '!=' null}}{{rule.snippet.min}} &lt; {{/compare}}X{{#compare rule.snippet.max '!=' null}} &lt; {{rule.snippet.max}}{{/compare}}
				</li>
				{{#if patternsFailed}}
					<li>&nbsp;➜
						<strong>Failed items</strong>:
						{{#each patternsFailed}}
							<i>{{this}}</i>{{#unless @last}}, {{/unless}}
						{{/each}}
					</li>
				{{/if}}
			</ul>
		</li>
	{{/each}}
</ul>
{{/each}}
