* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}

body {}


h1 {
	margin: 0;
	padding: 0.5em;
	background: linear-gradient(rgb(50,50,50), black);
	color: white;
	border-bottom: 3px solid teal;
}

h1 > a {
	color: inherit;
	&:hover {
		text-decoration: inherit;
		color: inherit;
	}
}

main {
	padding: 0.5em;
}