* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}

body {}


h1 {
	margin: 0;
	padding: 0.5em;
	background: #005291;
	color: white;
	box-shadow: 0 0 0.5em black;
}

h1 > a {
	color: inherit;
	&:hover {
		text-decoration: inherit;
		color: inherit;
	}
}
header > h1 small {
	color: black;
}

main {
	padding: 0.5em;
}

.icon {
	height: 2em;
	width: auto;
}
.icon.large {
	height: 4em;
}
#print {
	position: absolute;
	right: 1rem;
}

ul {
	padding-left: 0;
	list-style-position: inside;
}

/** plugin structure metric **/
.structure {
	margin-bottom: 0;
	padding-left: 1em;

	ul ul {
		padding-left: 2.5em;
	}
	li li {
		border-left: 1px solid black;
		padding-top: 0.1em;

		&:before {
			content: "--"
		}
	}

	.file-info {
		font-size: 0.8em;
		margin-left: 0.5em;
		background: silver;
		padding: 0.25em 0.75em;
		border-radius: 1em;
		display: inline-block;
		vertical-align: middle;
		border: 1px solid darkgray;
	}
}

/** plugin html metric */
ul.hierarchical ul {
	padding-left: 1.5em;
}
.domStructure ul {
	font-size: 1.2rem;
	line-height: 1.4rem;
	list-style-type: none;
}

ul li > * {
	vertical-align: top;
}
ul li > .label {
	display: inline-block;
	min-width: 7.5rem;
}
ul.message-list > li {
	display: flex;
	flex-flow: row;
	align-items: flex-start;
}
.content {
	display: inline-block;
	padding: 0.25rem;
	margin: 0;
}
.label {
	display: inline-block;
	padding: 0.5em;
	margin: 0.25em;
	border-radius: 0.25em;
	background: silver;
	color: black;
}
.label.error {
	background: maroon;
	color: white;
}
.label.warning {
	background: darkorange;
}
.label.success {
	background: seagreen;
}

.bar {
	background: #005291;
	display: inline-block;
	height: 1em;
}

.multicol.col-3 {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;

	-webkit-column-gap: 1rem;
	-moz-column-gap: 1rem;
	column-gap: 1rem;
}

table.statistics {
	th { min-width: 5em; }
	th, td { padding: 0 0.5em; }
}

// fix bootstrap
.row {
	margin-right: 0;
	margin-left: 0;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-left: 0;
}


@media print {
	h1 {
		color: black;
		background: none;
	}
	a[href]:after {
		// fix bootstrap added links
		content: none;
	}
	#print { display: none; }
}